.blog {
  height: auto;
  font-family: $article-font;
  position: relative;
  &--create {
    display: inline-block;
    box-sizing: initial;
    position: absolute;
    right: 58px;
    top: 31px;
    padding: .3em .8em;
    font-size: 13px;
    font-family: sans-serif;
    background: $color-primary;
    color:white;
    border: 2px solid mix(white, $color-primary, 25%);
    border-radius: 3px;
    &:hover {
      background-color: mix(black, $color-primary, 8%);
      color: rgb(238, 238, 238);
    }
  }
  .container {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(gray, 0.3);
  }
  &__header {
    margin-bottom: 1.3em;
    padding-top: 1.3em;
    padding-left: 1em;
    p {
      font-style: italic;
      font-size: 14px;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(gray, 0.1);
    border-bottom: 1px solid rgba(gray, 0.1);
    padding-top: .5em;
    padding-bottom: .5em;
    &--type {
      margin: .3em;
      padding-left: 1em;
    }

    &--search{
      margin-left: 10em;
      height: inherit;
      font-family: sans-serif;
      input[type="text"]{
        height: 25px;
        padding: .3em .5em;
      }
      button  {
        display:none;
      }
    }

    &--list {
      display: inline-block;
      height: 1.5em;
      padding: 0px 5px;
      position: relative;
      background-color: #e0e0e052;
      border: 1px solid #80808040;
      cursor: pointer;
      
      &--toggle {
        display: none;
        position: absolute;
        right: -130%;
        top: -1px;
        width: 130%;
        height: auto;
        background-color: #fff9f9;
        border: 1px solid rgba(44, 44, 139, 0.335);
      }
      &--option {
        padding-left: .5em;
        &:hover {
          background-color: mix(black, #e0e0e052, 10%);
        }
        a {
          color: $color-text;
        }
      }

      &:hover &--toggle {
        display: block;
        box-shadow: 0px 0px 10px rgba(black, 0.1);
      }
    }


  }

  &__main {
    box-shadow: none;
    flex-direction: column;
    &--header{
      margin-top: 1em;
      padding-left: 2em;
      &--title {
        background: rgb(53, 52, 52);
        color: white;
        padding: .2em;
      }
    }
    &--list {
      border:none;
    }
  }
}

.blog__not--posts{
  height: 300px;
  line-height: 300px;
  display: block;
  text-align: center;
  font-family: $nav-font;
  font-size: 1.5em;
  font-style: italic;
}