@import url('https://fonts.googleapis.com/css?family=Montserrat:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

$color-primary: #4267b2;
$color-secondary: mix(black, orange, 85%);
$color-text: #565656;

$nav-font: 'Montserrat', sans-serif;
$main-font: 'Anton', sans-serif;
$title-font: 'Varela', sans-serif;
$article-font: 'Open Sans', sans-serif;