

.hero {
  width: 100%;
  min-height: 400px;
  background-image: url('../../assets/img/hero.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  position: relative;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(black, 0.5);
  }
  .container {
    background: none;
  }
  @include center();
  @include container();
  &__content {
    z-index: 1000;
    height: min-content;
    width: 80%;
    text-align: center;
    font-family: $article-font;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 0px gray;
    span {
      display: inline-block;
      text-shadow: none;
      color: rgb(192, 192, 192);
      margin-top: .5em;
      padding: 0px .3em;
      border: 2px solid ;
    }
  }
  &__icon {
    color:white;
  }
}

